<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>123</title>
    <style>
        /* label{
            /* border: 1px solid; 
        }
        .name {background-color: aqua;}

        #form_name2{
            background-color: antiquewhite;
        }

        .name1{
            background-color: blue;
        } */

        input[type='radio']{
            /* display: none; */
        }

    </style>
</head>
<body>
    
<label for="form_name1">Ваше имя</label>

<input qq='qq1' id="form_name1" class="name" name="name1" type="text" placeholder="Ваше имя">
<br>
<label for="r1">Кнопка1</label>
<input id="r1" type="radio" name="r1"><br>
<label for="r2">Кнопка2</label>
<input id="r2" type="radio"  name="r1"><br>
<label for="r3">Кнопка3</label>
<input id="r3" type="radio"  name="r1"><br>
<input type="checkbox">
<input type="color"><br>

<select name="lang_select " >
    <optgroup label="BackEnd">
        <option  value="v1">Python</option>
        <option value="v2">Java</option>
        <option value="v3">PHP</option>
    </optgroup>
    <optgroup label="FrontEnd">
    <option value="v4" selected>JS</option>
    </optgroup>
    <option value="v5" disabled></option>
</select>
<br>
<input type="email"><br>
<input type="range"><br>
<input type="date"><br>
<input type="time"><br>
<input type="number" min="5" max="50" step="2">
<button>Отправить</button><br>

<a href="tel:+123-32-23">+123-32-23</a><br>

</body>
</html>