

<style>
    .cl1{
        text-align: center;
        width: 100px;
        height: 100px;
        display: inline-block;
        background-color: rgb(246, 217, 235);
        border: 1px solid black;
        margin: 10px;
        font-size: 25px;
        line-height: 100px;
        text-shadow: 1px 1px 1px;
        transition: all 600ms;
    }


    .cl1:hover{
        background-color: rgb(227, 208, 232);
        box-shadow: 6px 9px 15px 2px grey;
        transform: scale(1.3);
        
    }

    .cl1_container{
        margin: auto;        
        text-align: center;
        min-width: 350px;
        background-color: rgb(223, 201, 226);
    }
    
</style>




<div class="cl1_container">
    <div class="cl1">001</div>
    <div class="cl1">002</div>
    <div class="cl1">003</div>
    <div class="cl1">004</div>
    <div class="cl1">005</div>
    <div class="cl1">006</div>
    <div class="cl1">007</div>
    <div class="cl1">008</div>
    <div class="cl1">009</div>
    <div class="cl1">010</div>
</div>    






