<nav>
    <style>
    ul, ol{
        list-style: none;
        padding: 0;
    }

    ul > li {
        display: inline-block;
        width: 80px;
        height: 30px;
        background-color: #e1c1d6;
    
    }
    ul > li:hover ol{
        display: block;
    }

    ol {
        display: none;
        position: absolute;
        
    }
    </style>
    
    
    <ul>
        <li>mmmm1
            <ol>
                <li>menu01</li>
                <li>menu02</li>
                <li>menu03</li>
                <li>menu04</li>
            </ol>
        </li>
        <li>mmmm2
            <ol>
                <li>menu01</li>
                <li>menu02</li>
                <li>menu03</li>
                <li>menu04</li>
            </ol>
        </li>
        <li>mmmm3
            <ol>
                <li>menu01</li>
                <li>menu02</li>
                <li>menu03</li>
                <li>menu04</li>
            </ol>
        </li>
        <li>mmmm4
            <ol>
                <li>menu01</li>
                <li>menu02</li>
                <li>menu03</li>
                <li>menu04</li>
            </ol>
        </li>
        <li>mmmm5
            <ol>
                <li>menu01</li>
                <li>menu02</li>
                <li>menu03</li>
                <li>menu04</li>
            </ol>
        </li>
    </ul>
</nav>




